.message-container {
  overflow-y: scroll;

  @media screen and (min-height: 1100px) {
    max-height: 70vh;
  }

  @media screen and (max-height: 1100px) {
    max-height: 60vh;
  }

  @media screen and (max-height: 900px) {
    max-height: 50vh;
  }

  @media screen and (max-height: 700px) {
    max-height: 40vh;
  }

  @media screen and (max-height: 500px) {
    max-height: 25vh;
  }
}
